<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Beer</title>
</head>
<body>
    <img src={{beer.image_url}} />
    <h2>{{beer.name}}</h2>  
    <p>{{beer.desc}}</p> 
    <p>{{beer.tagline}}</p> 
    <h3>Food Pairing</h3>
    <p>{{beer.foodPairing}}</p>
    <h3>Brewer Tips</h3>
    <p>{{beer.brewerTips}}</p>
</body>
</html>