<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Beer</title>
</head>
<body>
        {{#each randomBeer}}
        <div>
            {{> beerPartial this}}
            <h3>Food Pairing</h3>
            <p>{{this.food_pairing}}</p>
            <h3>Brewer Tips</h3>
            <p>{{this.brewers_tips}}</p>
        </div>
        {{/each}}
</body>     

    
    
    
    {{!-- <img src={{beer.image_url}} />
    <h2>{{beer.name}}</h2>  
    <p>{{beer.desc}}</p> 
    <p>{{beer.tagline}}</p>  --}}

</html>