<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Beer</title>
</head>
<body>
    <img src={{img}} />
    <h2>{{name}}</h2>  
    <p>{{desc}}</p> 
    <p>{{tagline}}</p> 
    <h3>Food Pairing</h3>
    <p>{{foodPairing}}</p>
    <h3>Brewer Tips</h3>
    <p>{{brewerTips}}</p>
</body>
</html>