<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/beers.css">
    <title>Random Beer</title>
</head>
<body>
        <div id="random-beer-div">
            {{> beerpartial oneRandomBeer}}
            <h3>Food Pairing</h3>
            <p>{{oneRandomBeer.food_pairing}}</p>
            <h3>Brewer Tips</h3>
            <p>{{oneRandomBeer.brewers_tips}}</p>
        </div>
</body>     

    
    
    
    {{!-- <img src={{beer.image_url}} />
    <h2>{{beer.name}}</h2>  
    <p>{{beer.desc}}</p> 
    <p>{{beer.tagline}}</p>  --}}

</html>